language: python

install:
  - pip install tox

env:
   - TOXENV=pep8
   - TOXENV=py27

script:
  - tox

matrix:
  include:
    - python: "2.7"
      install:
        - pip install tox
      env: TOXENV=cover
      after_success: coveralls
